<html>
<head>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="backbone.collectionView.js"></script>
	
	
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />



<script type="text/template" id="track_listing">
    
    
        <section class="trackInfo">
            <span class="trackname"><%= track_name %></span>
            <span class="trackartist"><%= track_artist %></span>
        </section>

        <%= 

        
        

        <section class="voteHandle">
            <a href="#" class="upvote vote-button glyphicon glyphicon-plus" data-upvote="<%= track_id %>"></a>
             <span class="voteInd"><%= client_votes %></span>
            <a href="#" class="downvote vote-button glyphicon glyphicon-minus" data-downvote="<%= track_id %>"></a>
        </section>
        <div class="cf"></div>
    
 
</script>




</head>

<body>
  Vote Cap = collection.length | Up or down. Once you've spent your votes you don't get them back.
        <div id="trackWrap">
            <ul id="tracks"></ul>
        </div>

<script type="text/javascript" src="pm_bb.js"></script>
</body>

</html>




