*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@-webkit-keyframes upAnim {
    0% {
        background-color: inherit;
        opacity:1;
        
    }
    50% {
        background-color: #C8FFB6;
        border-top:5px solid #ccc;
    }
    
    100% {
        background-color: inherit;
        border-top:none;
    }
}

.upvoted {
    -webkit-animation-name: upAnim;
    -webkit-animation-duration: 350ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}    

@-webkit-keyframes dnAnim {
    0% {
        background-color: transparent;
        opacity:1;
    }
    50% {
        background-color: #FFC2B6;
    }
    
    100% {
        background-color: transparent;
    }
}

.downvoted {
    -webkit-animation-name: dnAnim;
    -webkit-animation-duration: 350ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}    

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
  -webkit-animation-name: bounceInDown;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#track-updater{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:1em;
    background-color:rgb(255, 0, 255);
    color:white;
    font-size:1.5em;
    text-align: center;
    display: none;
    z-index: 9
}
#tracks li{padding:0;}
#tracks li:nth-of-type(even){background-color:#eee;}
#tracks{padding:0;list-style-type: none; }
.track-listing{padding:0; }

.trackInfo{float:left; display:block; width:80%;}

.voteInd{display:block; float:left; padding:10px; font-size:2em; width:10%;}

.voteHandle{float:left; height:100%;max-height:100px; width:10%; display:block;}
.voteInd{font-size:2em;}
.vote-button{
    padding:0.5em;
}

.trackname,
.trackartist{display:block; width:100%; text-align: center;}
.trackname{font-size:1.5em;}


